.trending-stock-container{

	border-bottom: 1px solid #bcbcbc;
	border-top: 1px solid #bcbcbc;
	margin: 0 auto;
}

.logo{

	color: #555 !important;
	font-family: "Lobster",cursive;
	font-size: 33px;
	font-weight: 400;
}

footer{

	height: auto;
	background-color: #f5f5f5;
	text-align: center;
	padding: 20px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
}