.trending-stock-container{

	border-bottom: 1px solid #bcbcbc;
	border-top: 1px solid #bcbcbc;
	margin: 0 auto;
}
#search-form .searchField {
	background: #fff url("../images/search-icon.png") no-repeat scroll calc(100% - 10px) 6px;
	width: calc(100% - 20px);
}

.remember-pass, .forgot-pass, .btn-signin {

	padding: 0;
}
.forgot-pass-header {

	padding: 15px;
	background: #265a88;
    color: #fff;
}

.forgot-pass-modal-footer {
    height: auto;
    margin-top: 20px;
    overflow: auto;
}
a:hover, a:focus {
text-decoration: none;
outline: none;
}

.popover-content {
    padding: 0;
}
#trading-social-login.is-selected, #trading-social-signup.is-selected, #forget_password.is-selected, .forgot-pass-header.is-selected {
	display: block !important;
}
.header-switcher.is-selected {
	display: table !important;
}
.modal-header {
	
	padding: 0;
}
.modal-header .header-switcher {
	 border: 0 none;
	clear: both;
	content: "";
	display: table;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    width: 100%;
}
.modal-header .header-switcher li {
	float: left;
	text-align: center;
	width: 50%;
	list-style: outside none none;
	padding: 0;
}
.modal-header .header-switcher a {
	height: 70px;
	background: #265a88;  
	color: #fff;
	display: block;
	height: 50px;
	line-height: 50px;
	width: 100%;
	font-size: 24px
}
.modal-header .header-switcher a.selected {
	background: #fff;
	color: #505260;
}
#trading-social-login, #trading-social-signup, #forget_password, .forgot-pass-header, .header-switcher {
	display: none !important;
}
.logo{

	color: #555 !important;
	font-family: "Lobster",cursive;
	font-size: 33px;
	font-weight: 400;
}

.trading-container {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-top: 150px;
}

#user-info {
    display: inline-flex;
    float: right;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0;
}
.margin-top-sm {
	 margin-top: 35px;
}
#user-info li {
    border-left: 1px solid #516c89;
    float: left;
    height: 51px;
    margin-bottom: 0;
}
/*.logged-in {
    background-color: #40576f;
}*/

a#user-login-name {
    display: block;
    font-weight: 500;
    padding: 13px 15px 19px;
}
ul {
    list-style: none;
}

#session-nav {
	cursor: pointer;
}

#user-avatar {
    float: left;
    height: 36px;
    margin-right: 8px;
    position: relative;
    top: -7px;
    width: 36px;
}
#user-avatar img {
    border: 3px solid #304153;
    border-radius: 20px;
    float: left;
    height: 33px;
    width: 33px;
    vertical-align: middle;
    display: inline;
}
#trader-drop-down {


    font-size: 12px;
    line-height: 26px;
    position: absolute;
    right: 0;
    top: 51px;
    width: 150px;
    z-index: 6;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
#trader-drop-down ul {
    float: left;
    margin: 0;
    padding-left: 0;
}
#user-info li li {
    float: none;
    border-left: none;
}

#trader-drop-down ul li a {
   
    display: block;
    font-weight: 500;
    padding: 5px 15px;
    text-decoration: none;
    width: 120px;
}

#trader-drop-down {
	display: none;
}

#recent-content {
    position: relative;
    top: 31px;
    width: 20%;
    z-index: 6;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
#recent-content ul li a {
   
    display: block;
    font-weight: 500;
    padding: 5px 15px;
    text-decoration: none;
    width: 120px;
}
#recent-content h2 {
	background: #292929 ;
	border-radius: 4px 4px 0 0;
    border-top: 1px solid #4b4b4b;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    margin: 0 0 8px;
    padding: 8px 0 6px 24px;
    text-shadow: 0 -1px 1px #000;
    text-transform: uppercase;
}
#top-content {
    margin-left: 25%;
    position: relative;
    top: -78px;
}
.side-box.stats-box {
    position: absolute;
    right: 18px;
    width: 296px;
    top: 0;
}
.side-box {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    box-shadow: 0 1px 2px #cecece;
    margin-bottom: 50px;
    padding: 1px;
}
.side-box .section {
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #fff;
    text-shadow: 0 1px 1px #fff;
}
#traderStats {
    margin: 0;
}
#traderStats a {
    border-bottom: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-top: 1px solid #fff;
    color: #797979;
    float: left;
    font-size: 10px;
    margin-left: -1px;
    padding: 10px 0;
    text-indent: 20px;
    text-transform: uppercase;
    width: 50%;
}
.side-box .section:last-child {
    border-bottom: medium none;
}
#traderStats li:nth-child(3) a, #traderStats li:nth-child(4) a {
    border-bottom: medium none;
}
#traderStats li:nth-child(2n) a {
    border-right: medium none;
}

.avatar-container {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #dedede;
    border-radius: 3px;
    box-shadow: 0 0 1px #fff inset, 0 1px 2px #dedede;
    float: left;
    margin-right: 4%;
    max-width: 150px;
    position: relative;
    width: 25%;
}
.avatar-container img {
    border-radius: 3px;
    display: block !important;
    width: 100%;
}
.user-top-info {
    float: left;
    font-size: 13px;
    width: 40%;
}
.user-top h2 {
    color: #676767;
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
}
#top-content .user-top h1 {
    color: #444;
    font-size: 30px;
    line-height: 23px;
     margin-bottom: 10px;
    text-shadow: 1px 1px 0 #fff;
    margin-top: 0;
}

#content-wrapper {
    padding: 0 375px 0 297px;
    width: auto;
    margin: 0 auto;
     min-height: 250px;
}
#main-content {
    overflow: hidden;
    border: 1px solid #e9e9e9;    
}
#main-content ul {
	margin-bottom: 5px;
     padding-left: 2px;
}

#main-content .bar-options {
    float: left;
    width: 70%;
}
.bar-options li a {
    float: left;
    padding: 0 6px;

}
.bar-options a {
	margin-top: 4px;
    font-size: 12px;
    margin-right: 2px;
     text-transform: uppercase;
     display: block;
}
.bar-options a.active {
	 background-color: #535353;
	 color: #fff;
	 font-weight: bold;
}
#side-content {
    margin-left: 718px;
    right: auto;
     position: relative;
    width: 300px;
     top: -32px;
} 


.join-date {
    color: #676767;
    display: block;
    font-size: 14px;
    padding-top: 6px;
}
article#how {text-align: center; background-color: #efefef;	 min-height: 150px;  padding-top: 30px; border-top: 1px solid #bdbdbd; border-bottom: 1px solid #bdbdbd;}
#how h5 {text-transform: uppercase; color: #40576f;  margin-bottom: 18px; }

.sentiment-analysis, .trade, .aside, .next-features {
	background: ##f5f5f5;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.235);
	border-top: 1px solid rgba(0, 0, 0, 0.11);

	margin: 20px 0px;

}
footer{

	height: auto;
	//background-color: #f5f5f5;
	text-align: center;
	padding: 20px 160px;
	position: absolute;
	bottom: 0;
	width: 100%;
	position: relative;
	margin: 40px 0px;
}
.modal.is-visible {
	opacity: 1;
	visibility: visible;
	display: block;
	
}
#side-content .footer {
	margin: 0;
    padding: 5px;
}

@media only screen and (min-width: 280px) and (max-width: 1300px) {

	#side-content {
   	 margin-left: 530px;
	}
}
@media only screen and (min-width: 280px) and (max-width: 1067px) {

	.sentiment-analysis, .trade, .aside, .next-features {

		text-align: center;
	}
	footer{
		position: relative;
		padding: 20px 0px;
	}
	footer .social{
		text-align: center !important;
		
	}
	#side-content {
    margin-left: 00px;
	}
}