.trending-stock-container{

	border-bottom: 1px solid #bcbcbc;
	border-top: 1px solid #bcbcbc;
	margin: 0 auto;
}
#search-form .searchField {
	background: #fff url("../images/search-icon.png") no-repeat scroll calc(100% - 10px) 6px;
	width: calc(100% - 20px);
}
#trading-social-login, #trading-social-signup {
	display: none;
}
#trading-social-login.is-selected, #trading-social-signup.is-selected {
	display: block;
}
.modal-header {
	border-bottom: medium none;
	padding: 0;
}
.modal-header .header-switcher::after {
	clear: both;
	content: "";
	display: table;
	border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
.modal-header .header-switcher li {
	float: left;
	text-align: center;
	width: 50%;
	list-style: outside none none;
}
.modal-header .header-switcher a {
	height: 70px;
	background: #d2d8d8 none repeat scroll 0 0;
	color: #809191;
	display: block;
	height: 50px;
	line-height: 50px;
	width: 100%;
}
.modal-header .header-switcher a.selected {
	background: #fff none repeat scroll 0 0;
	color: #505260;
}
.logo{

	color: #555 !important;
	font-family: "Lobster",cursive;
	font-size: 33px;
	font-weight: 400;
}

.trading-container {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-top: 150px;
}

article#how {text-align: center; background-color: #efefef;	 min-height: 150px;  padding-top: 30px; border-top: 1px solid #bdbdbd; border-bottom: 1px solid #bdbdbd;}
#how h5 {text-transform: uppercase; color: #40576f;  margin-bottom: 18px; }

.sentiment-analysis, .trade, .aside, .next-features {
	background: ##f5f5f5;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.235);
	border-top: 1px solid rgba(0, 0, 0, 0.11);

	margin: 20px 0px;

}
footer{

	height: auto;
	//background-color: #f5f5f5;
	text-align: center;
	padding: 20px 160px;
	position: absolute;
	bottom: 0;
	width: 100%;
	position: relative;
	margin: 40px 0px;
}
.modal.is-visible {
	opacity: 1;
	visibility: visible;
	display: block;
	
}

@media only screen and (min-width: 280px) and (max-width: 1067px) {

	.sentiment-analysis, .trade, .aside, .next-features {

		text-align: center;
	}
	footer{
		position: relative;
		padding: 20px 0px;
	}
	footer .social{
		text-align: center !important;
		
	}
}